<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="merge.blocks.drop.number.puzzle.games">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Publisher"
        >
        <!-- TODO: use actual facebook application id and client token -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="your_own_facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="your_own_client_token"/>
        <!-- TODO: use actual App Id via Google AdMob UI -->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Publisher.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>